.souhir{
	width : 50%;
    height : 500px !important;
}
.style{
    font-size: large;
    background-color: rgb(181, 0, 252);
}
.h1{
    font-style: italic;
    text-decoration: lightcoral;
}